@font-face{
    font-family: Lato;
    src: url(../fonts/Lato-Bold.ttf);
}
body {
    font-family: 'Lato';
    background-color:#dfe6e9;
}
.profile-picture img{
    display: block;
    border-radius: 100%;
    height: 360px;
    width:  360px;
    border: solid 12px #2d3436;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.profile-picture h1{
    text-align: center;
    margin: auto;
    
}
.des{
    display: block;
    vertical-align: middle;
    max-width: 100%;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.des p{
    text-align: center;
    margin: 5px;
}
.h1 {
    padding: 10px;
}
.p-content{
    padding: 10px;
}